body
{
	background-color: #191d21;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Hover effects */

.photo1
{
	width: 450px;
	/*  transition to plynne przejscie pomiedzy przeksztalceniami */
	/*  transition: [jaka wlasciwosc animujemy] [czas przejscia] [rodzaj przejscia];  */
	/* transition wpisujemy do elementu sprzed transformacji, czyli bez hovera */
	transition: all 1s ease-in-out;			/* all oznacza wszyskie wlasciowsci, czyli transform i opacity w tym przypadku */
}

.photo1:hover {
	/* transformacej wstawiamy do hovera */
	/*  combo to kilka zmian w ramach jedengo hovera */
	-webkit-transform: scale(0.9);				/*  pomniejszamy obrazek */		/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform: scale(0.9);				/*  pomniejszamy obrazek */		/* IE 9 */
	transform: scale(0.9);				/*  pomniejszamy obrazek */		/* IE 10, Fx 16+, Op 12.1+ */
	opacity: 0.6;
}

.photo2
{
	width: 450px;
	transition: transform .4s ease-in-out;
}

.photo2:hover {
	-webkit-transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);				/* kombo, czyli kilka efektow od razu : skala , obrot, skew -- pzrekrzywienie (z prostokata tworzymy rownoleglobok) */		/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);		/* IE 9 */
	transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);		/* IE 10, Fx 16+, Op 12.1+ */
}

.photo3
{
	width: 450px;
}

.photo4
{
	width: 450px;
}

.photo5
{
	width: 450px;
}

.photo6
{
	width: 450px;
}
