body
{
	background-color: #191d21;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Hover effects */

.photo1
{
	width: 450px;
	/*  transition to plynne przejscie pomiedzy przeksztalceniami */
	/*  transition: [jaka wlasciwosc animujemy] [czas przejscia] [rodzaj przejscia];  */
	/* transition wpisujemy do elementu sprzed transformacji, czyli bez hovera */
	transition: all 1s ease-in-out;			/* all oznacza wszyskie wlasciowsci, czyli transform i opacity w tym przypadku */
}

.photo1:hover {
	/* transformacej wstawiamy do hovera */
	/*  combo to kilka zmian w ramach jedengo hovera */
	-webkit-transform: scale(0.9);				/*  pomniejszamy obrazek */		/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform: scale(0.9);				/*  pomniejszamy obrazek */		/* IE 9 */
	transform: scale(0.9);				/*  pomniejszamy obrazek */		/* IE 10, Fx 16+, Op 12.1+ */
	opacity: 0.6;
}

.photo2
{
	width: 450px;
	transition: transform .4s ease-in-out;
}

.photo2:hover {
	-webkit-transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);				/* kombo, czyli kilka efektow od razu : skala , obrot, skew -- pzrekrzywienie (z prostokata tworzymy rownoleglobok) */		/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);		/* IE 9 */
	transform: scale(0.95) rotate(-5deg) skew(2deg, 2deg);		/* IE 10, Fx 16+, Op 12.1+ */
}

.photo3
{
	width: 450px;
}

.overlay {				/* pojemnik z grafika i tekstem */
	position: relative;			/* ta pozycja pozalal uzyc wlasciowsci: left, right, top, bottom; dzieki temu mozemy przesuwac element wzgledem punktu odniesienia, czyli w tym przypadku lewy gorny wierzcholek div'a z klasa photo3 */
	width: 450px;			/* tyle samo co obraz '03.jpg' */
	height: 278px;
}

.overlay .link {
	position: absolute;				/* pozycjonujemy absolutnie, ale wzgledem div'a, ktory jest rozmieszczony relatywnie */
	display: block;
	width: 450px;
	height: 65px;			/* jedna linia tekstu */
	background-color: #111;
	left: 0px;
	bottom: 0px;
	opacity: 0;		/* pasek z napisem jest niewidoczny do momentu najechania na niego, czyli uzycia hovera */
	transition: opacity 0.5s ease-in-out;
}

.overlay:hover .link {
	opacity: 0.8;
}

.photo4
{
	width: 450px;
}

.overlayT {				/* pojemnik z grafika i tekstem */
	position: relative;			/* ta pozycja pozalal uzyc wlasciowsci: left, right, top, bottom; dzieki temu mozemy przesuwac element wzgledem punktu odniesienia, czyli w tym przypadku lewy gorny wierzcholek div'a z klasa photo3 */
	width: 450px;			/* tyle samo co obraz '03.jpg' */
	height: 278px;
}

.overlayT .link {
	position: absolute;				/* pozycjonujemy absolutnie, ale wzgledem div'a, ktory jest rozmieszczony relatywnie */
	display: block;
	width: 100%;
	height: 100%;			/* jedna linia tekstu */
	background-color: #27a38d;
	left: 0px;
	top: 0px;
	opacity: 0;		/* pasek z napisem jest niewidoczny do momentu najechania na niego, czyli uzycia hovera */
	transition: opacity 0.5s ease-in-out;
}

.overlayT:hover .link {
	opacity: 0.9;
}

.icon {
	display: block;			/* span zachowuje sie blokowo */
	top: 25%;
	position: relative;
	font-size: 72px;
}

.icon p {
	font-size: 20px;
}

.photo5
{
	width: 450px;
	height: 278px;
	overflow: hidden;				/* ukryj fakt przepelnienia div'a, czyli jezeli obrazek nie miesci sie w div'ie, to nie dodawaj paskow pzrewijania i innych rzeczy */
	/* czyli ten pojemnik ma miec wymiary 450px na 278px bez wzgledu na wszystko */
}

.photo5 img {
	transition: all 0.5s ease-in-out;
}

.photo5:hover img {
	-webkit-transform: scale(1.15);			/* powiekszenie 115 % */
	-ms-transform: scale(1.15);			/* powiekszenie 115 % */
	transform: scale(1.15);			/* powiekszenie 115 % */
}

.photo6
{
	width: 450px;
	height: 278px;
	overflow: hidden;
}

.photo6 img {
	transition: all 0.7s ease-in-out;
}

.photo6:hover img {
	-webkit-transform: scale(1.2) rotate(-5deg);			/* powiekszenie 115 % */
	-ms-transform: scale(1.2) rotate(-5deg);			/* powiekszenie 115 % */
	transform: scale(1.2) rotate(-5deg);			/* powiekszenie 115 % */
}
